body {
  background-color:grey;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  color: #d4af37;
}

.todo-container {
  background-color: pink;
  padding: 20px 25px;
  border-radius: 8px;
  width: 500px;
  box-sizing: border-box;
}

h2 {
  text-align: center;
  margin-bottom: 15px;
}

.input-area {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

input[type="text"],
input[type="date"] {
  flex: 1;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  background-color: #181c37;
  color:#d4af37;
  font-size: 14px;
}

input::placeholder {
  color:#d4af37;
}

button {
  background-color: #181c37;
  border: none;
  color: #d4af37;
  font-weight: 600;
  padding: 8px 15px;
  border-radius: 4px;
  cursor: pointer;
}

.buttons-area {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
  justify-content: flex-start;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #1b1f40;
  border-radius: 6px;
  overflow: hidden;
}

th, td {
  padding: 8px;
  font-size: 13px;
  text-align: left;
}

th {
  background-color: #2b2f4a;
  text-transform: uppercase;
}

.no-task {
  text-align: center;
  color: #7a7c9c;
}

.status-completed {
  color: #6dd400;
  font-weight: 600;
}

.action-btn {
  background: none;
  border: none;
  color:#d4af37;
  cursor: pointer;
  font-weight: 600;
  margin-right: 8px;
  font-size: 13px;
}

.action-btn.delete {
  color: #e04e4e;
}